extends layout

block content
  include includes/header.pug
  .app--tweet
    form(action='/', method='post')
      .circle--fluid
        .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
          .app--avatar(style=`background-image: url(${userAvatar})`)
          textarea#tweet-textarea.circle--textarea--input(type="text" placeholder="What's happening?" name="newTweet")
          strong#tweet-char.app--tweet--char 140
        .circle--fluid--cell.align-bottom
          button#postTweet.button-primary Tweet
  .bounds.app--body
    .app--section--header
      .grid-33
        .app--section--heading
          h2 Timeline
      .grid-33
        .app--section--heading
          strong #{userFollowing}
          h2 Following
      .grid-33
        .app--section--heading
          h2 Direct Messages
    .grid-33
      include includes/tweets.pug
    .grid-33
      include includes/following.pug
    .grid-33
      include includes/dir-msg.pug